.widgets {
    position: sticky;
    top: 80px;
    flex:0.2;
    border: 1px solid lightgray;
    height: fit-content;
    border-radius: 10px;
    background-color: white;
    padding-bottom: 10px;
}